<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer-siren-mixins/siren-entity-mixin.html">
<dom-module id="d2l-organizations">
	<template>
		<style>
			:host {
				display: block;
			}
		</style>
		<strong>[[title]]</strong>
		<slot></slot>
	</template>

	<script>
		/*
			@mixes SirenEntityMixin
			@demo demos/index.html
	 	*/
		class D2LOrganizations extends D2L.Polymer.Mixins.SirenEntityMixin(Polymer.Element) {
			static get is() {
				return 'd2l-organizations';
			}
			static get properties() {
				return {
					title: {
						type: Object,
						computed: '_getTitle(entity)'
					}
				};
			}
				_getTitle(entity) {
				return entity && entity.properties && entity.properties.title || '';
			}		}
		customElements.define(D2LOrganizations.is, D2LOrganizations);
	</script>
</dom-module>
