<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../../d2l-fetch/d2l-fetch.html">
<link rel="import" href="../../../d2l-icons/d2l-icon.html">
<link rel="import" href="../../../d2l-icons/tier2-icons.html">
<link rel="import" href="../../../d2l-icons/tier1-icons.html">
<link rel="import" href="../../../d2l-tooltip/d2l-tooltip.html">
<link rel="import" href="../../../d2l-offscreen/d2l-offscreen.html">
<link rel="import" href="../../../siren-parser-import/siren-parser.html">
<link rel="import" href="../d2l-organization-icons.html">
<link rel="import" href="localize-behavior.html">

<!--
`d2l-organization-updates`

Polymer-based web component for a organization updates.

@demo demo/d2l-organization-updates/d2l-organization-updates-demo.html Organization Updates
-->

<dom-module id="d2l-organization-updates">
	<template strip-whitespace>
		<style>
			:host {
				display: flex;
				position: relative;
				margin: auto;
				flex-direction: row;
				justify-content: space-evenly;
				flex-wrap: wrap;
				padding-top: 0;
			}
			.container {
				position: relative;
				width: var(--d2l-organization-updates-size, 18px);
				height: var(--d2l-organization-updates-size, 18px);
				max-width: 20%;
			}
			d2l-icon {
				--d2l-icon-width: var(--d2l-organization-updates-size, 18px);
				--d2l-icon-height: var(--d2l-organization-updates-size, 18px);
				vertical-align: top;
			}
			.update-text-box {
				border: 2px solid var(--d2l-color-carnelian);
				color: var(--d2l-color-carnelian);
				border-radius: 0.25rem;
				background-color: white;
				box-shadow: 0 0 0 1px white;
			}
			.update-text-big {
				box-sizing: border-box;
				font-size: 1rem;
				font-weight: 700;
				width: 2rem;
				height: 2rem;
				line-height: 2rem;
				display: inline-flex;
				align-items: center;
	  			justify-content: center;
			}
			.update-text-box-icon {
				position: absolute;
				top: -50%;
				left: 50%;
				padding: 0 0.175rem 0.05rem 0.175rem;
			}
			.update-text-icon {
				color: var(--d2l-color-carnelian);
				line-height: 100%;
				font-weight: 400;
				font-size: 0.555rem;
			}
			.update-text-big[hidden],
			.container[disabled] .update-text-box {
				display: none;
			}
			.container[disabled] d2l-icon {
				color: var(--d2l-color-mica);
			}
			.icon-tooltip {
				width: fit-content;
				@apply --d2l-body-small-text;
				color: #FFFFFF;
				white-space:nowrap;
			}
			.icon-tooltip[disabled] {
				display: none;
			}
			.icon-tooltip ul {
				margin: 0px;
				padding: 0px;
				list-style-type: none;
			}
			.icon-tooltip ul li {
				margin: 0px;
				padding: 0px;
			}
		</style>
		<template is="dom-repeat" items="[[_notificationsToArray(_notifications, combined)]]">
			<template is="dom-if" if="[[item.icon]]">
				<span class="container" disabled$="[[item.isDisabled]]" id="[[item.key]]">
					<d2l-icon icon="[[item.icon]]"></d2l-icon>
					<span class="update-text-box-icon update-text-box">
						<div class="update-text-icon" aria-hidden="true">[[item.updateCount]]</div>
						<d2l-offscreen>[[item.ariaLabel]]</d2l-offscreen>
					</span>
				</span>
				<d2l-tooltip class="icon-tooltip" for="[[item.key]]" position="top" disabled$="[[item.isDisabled]]">
					<ul>
						<template is="dom-repeat" items="[[item.toolTip]]">
							<li>[[item]]</li>
						</template>
					</ul>
				</d2l-tooltip>
			</template>
			<template is="dom-if" if="[[!item.icon]]">
				<span aria-hidden="true" hidden$="[[item.isDisabled]]" class="update-text-big update-text-box">[[item.updateCount]]</span>
				<d2l-offscreen hidden$="[[item.isDisabled]]">[[item.ariaLabel]]</d2l-offscreen>
			</template>
		</template>
	</template>
	<script>
		Polymer({
			is: 'd2l-organization-updates',

			properties: {
				href: String,
				presentationHref: String,
				combined: {
					type: Boolean,
					reflectToAttribute: true,
					value: false
				},

				_presentation: {
					type: Object,
					value: function() { return {}; }
				},
				_notifications: {
					type: Object,
					value: function() { return {}; }
				},
				_notificationMap: {
					type: Object,
					readOnly: true,
					value: function() {
						return {
							UnreadAssignmentFeedback: {
								key: 'unreadAssignmentFeedback',
								presentationLink: 'ShowDropboxUnreadFeedback',
								toolTip: 'unreadAssignmentFeedback',
								icon: 'd2l-tier1:assignments',
								order: 1
							},
							UnreadAssignmentSubmissions: {
								key: 'unreadAssignmentFeedback',
								presentationLink: 'ShowUnreadDropboxSubmissions',
								toolTip: 'unreadAssignmentSubmissions',
								icon: 'd2l-tier1:assignments',
								order: 1
							},
							UnattemptedQuizzes: {
								key: 'unreadQuizzesFeedback',
								presentationLink: 'ShowUnattemptedQuizzes',
								toolTip: 'unattemptedQuizzes',
								icon: 'd2l-organization-icons:quiz-submissions',
								order: 3
							},
							UngradedQuizzes: {
								key: 'unreadQuizzesFeedback',
								presentationLink: 'ShowUngradedQuizAttempts',
								toolTip: 'ungradedQuizzes',
								icon: 'd2l-organization-icons:quiz-submissions',
								order: 3
							},
							UnreadDiscussions: {
								key: 'unreadDiscussionFeedback',
								presentationLink: 'ShowUnreadDiscussionMessages',
								toolTip: 'unreadDiscussions',
								icon: 'd2l-tier1:comment-hollow',
								order: 2
							},
							UnapprovedDiscussions: {
								key: 'unreadDiscussionFeedback',
								presentationLink: 'ShowUnreadDiscussionMessages',
								toolTip: 'unapprovedDiscussions',
								icon: 'd2l-tier1:comment-hollow',
								order: 2
							}
						};
					}
				}
			},

			behaviors: [
				D2L.PolymerBehaviors.OrganizationUpdates.LocalizeBehavior
			],

			observers: [
				'_fetchNotifications(href, _presentation)',
				'_fetchPresentation(presentationHref)'
			],

			_fetchPresentation: function(presentationUrl) {
				if (!presentationUrl) {
					return Promise.resolve();
				}

				return this._fetchSirenEntity(presentationUrl)
					.then(function(presentation) {
						this._presentation = presentation.properties || {};
					}.bind(this));
			},
			_fetchNotifications: function(notificationsUrl, presentation) {
				if (!notificationsUrl || !presentation) {
					return Promise.resolve();
				}

				return this._fetchSirenEntity(notificationsUrl)
					.then(function(notificationsInfo) {
						if (!(notificationsInfo = notificationsInfo.properties)) {
							return;
						}
						var notifications = {};
						for (var key in notificationsInfo) {
							if (notificationsInfo.hasOwnProperty(key)) {
								this._prepareNotification(notifications, presentation, key, notificationsInfo[key]);
							}
						}
						this._notifications = notifications;
					}.bind(this));
			},
			_prepareNotification: function(notifications, presentation, notification, numberOfUpdates) {
				if (!this._notificationMap.hasOwnProperty(notification)) {
					return;
				}

				var options = this._notificationMap[notification];
				if (!options.key
					|| !options.presentationLink
					|| !presentation[options.presentationLink]
				) {
					return;
				}

				if (!notifications.hasOwnProperty(options.key)) {
					notifications[options.key] = {
						icon: options.icon,
						updateCount: 0,
						order: options.order,
						toolTip: []
					};
				}

				notifications[options.key].updateCount += numberOfUpdates;
				if (numberOfUpdates) {
					notifications[options.key].toolTip.push([options.toolTip, numberOfUpdates]);
				}
			},
			_fetchSirenEntity: function(url) {
				if (!url) {
					return;
				}

				return window.d2lfetch
					.fetch(new Request(url, {
						headers: { Accept: 'application/vnd.siren+json' },
					}))
					.then(this._responseToSirenEntity.bind(this));
			},
			_responseToSirenEntity: function(response) {
				if (response.ok) {
					return response
						.json()
						.then(function(json) {
							return window.D2L.Hypermedia.Siren.Parse(json);
						});
				}
				return Promise.reject(response.status + ' ' + response.statusText);
			},
			_notificationsToArray: function(notification, combined) {
				var maxCount = 99;
				if (combined) {
					notification = {
						updates: Object.keys(notification).reduce(function(accumulator, key) {
							return {
								updateCount: notification[key].updateCount + accumulator.updateCount,
								icon: null
							};
						}, { updateCount: 0 })
					};
				}

				return Object.keys(notification).map(function(key) {
					var toolTip = notification[key].toolTip
						? notification[key].toolTip.map(function(value) {
							return 	this.localize(value[0], 'number', value[1]);
						}.bind(this))
						: null;

					var element = {
						key: key,
						order: notification[key].order,
						isDisabled: (notification[key].updateCount <= 0),
						updateCount: (notification[key].updateCount > maxCount) ? maxCount + '+' : notification[key].updateCount,
						toolTip: toolTip,
						ariaLabel: this.localize(key, 'number', notification[key].updateCount),
						icon: notification[key].icon
					};
					return element;
				}.bind(this)).sort(function(a,b) {
					return a.order-b.order;
				});
			}
		});
	</script>
</dom-module>
